html,body{
	height: 100%; width: 100%;
}
.navbar-toggler-icon{color: white;}
.my-nav{background-color: rgba(0,0,0,0.50)!important;}
.my-nav .nav-link{color: #ffffff; font-size: 18px;}
.my-nav .nav-link:hover{color: rgba(255, 255, 255, 0.5);}

.navbar-nav > a{
    margin-left:100px;
    margin-right:100px;
  }

.jumbotron{
    background-image: url("img/11.png");
    background-size: cover;
    background-position: center bottom;
    /* background-size: auto 100%;
    background-repeat: no-repeat; */
    padding-top: 6%;
    padding-bottom: 6%;
   
}
#team a{
    text-decoration: none;
    color: white;
}
#team a:hover {
    color: dimgray;
  }
/* 
footer{background-color: black; color: white; font-size: 20px;} */

/*about session start*/
.top-heading p{width: 100%; text-align: center; color: #787878; font-size: 60px; text-transform: capitalize;}

/* .card i{color: deeppink; font-size: 60px; margin-top: 25px;} */
.card,.card1,.card2,.card3 {
    text-align: left;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -webkit-box-shadow -19px 19px 43px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
    box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
    }
    .card .card-title {font-weight: bold; font-size: 30px; color: dimgray;}
.card .card-text{color: #737373; font-weight: 600;}
.card1,.card2,.card3{background-color: rgba(0,0,0,0.15); transition: 1s;}
.card1:hover,.card2:hover,.card3:hover{background-color: rgba(0,0,0,0.05); transition: 1s;}
/*about session end*/

/*why u come here start*/

.custom-btn{background-color: white; border-color: dimgray; color: dimgray;transition: 1s;}
.custom-btn:hover{background-color: dimgray; border-color: white; color: white;transition: 1s;}
.bg-gray{background-color: #f0f0f0;}
.hero-heading{color:dimgray;font-size: 35px;}
.hero-paragraph{color: #767676; font-size: 25px;}
.hero-img{border-radius: 5px 5px 5px 5px;}

/*why u come here end*/

.blog-footer {
    padding: 2.5rem 0;
    color: #808080;
    text-align: center;
}
.blog-footer a{
    text-decoration: none;
    color: #808080;
}